.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 5px 4px 20px 0px rgba(250, 123, 66, 0.06);
}

.header{
    width: calc(100% - 20px);
    background-color: #050A30;
    color: #fff;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
}

.input_wrap input{
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
    border: none;
    box-shadow: 5px 4px 20px 0px rgba(250, 123, 66, 0.06);
    outline: none;
}

.register{
    width: 200px;
    padding: 10px 30px;
    background-color: #2EFF2E;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 15px;
}

.danger{
    color: #ff0000;
}